body{
  margin: 1px;
  padding: 0;
}

.cnt{
  text-align: left;
  max-width: 100%;
  padding:10px ;
}

.check,.gender{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input{
  border: 1px solid green;
}
